# Servidor
PORT=8080
NODE_ENV=development
# MongoDB (local)
MONGODB_URI=mongodb://localhost:27017/step-maintenance
# MongoDB (Atlas)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb
# JWT
JWT_SECRET=St3pS3rvici0sMtto
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=St3pS3rvici0sMttoR3fr3sh
JWT_REFRESH_EXPIRES_IN=7d
# Seguridad (bcrypt)
BCRYPT_SALT_ROUNDS=10