@use 'variables' as *;

.filtro-estado {
    max-width: $filtro-estado-max-width;
}

.filtro-tecnico {
    max-width: $filtro-tecnico-max-width;
}

.filtro-cliente {
    max-width: $filtro-cliente-max-width;
}

.select-estado {
    min-width: $select-estado-min-width;
}